<a href="https://colab.research.google.com/github/VishalShende358/Library-managment-system/blob/main/Introduction_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
### Define:- **Python is an open source,object oriented, high level,intrepreted general purpose programing language.**

- Python was created by **"Guido-Van Rossum"**is father of Python made in 1989. At National Research Institute at Netherland.

- Python can be used to build almost any type of application with right tools/libraries and Python support object,module ,threads ,exceptional Handling and automatic memory management with the help in modeling real-world problem and building application to solve this problem.
- Python also used in Machine learning,Web scraping,Web Developement,Games,Data Analysis,Artificial Intelligent,Data Science,Scientific Computing and more.
- It has a large standard library and a vast ecosystem of third-party packages, makin it highly extensible and adaptable to various domain.

# Feature of Python

- 1) **Easy-to-learn syntax:-**Python is designed to have a clean and readable syntax that reduces the complexity of code.
- 2) **Freeware and open source:-** It is an open source it means that source code is also available to the public in free of cost,so you can download its free as well as share also free.
- 3) **High level programming language:-** In Python no need to take care about low level language details such as managing the memory used by the program.
- 4) **Platform Independent:-** If a write a coding or programme in one platform to send a file or code in other platform like mac,linux and it will be learn.
- 5) **Portability:-** Easy to portable in one place to another like mobile,laptop,data transfer.
- 6) **Dynamic Type:-** Data types are checked during execution.No need to declare anything an assignment statement binds a name to an object and the object can be of any type.

   eg:-
         a=10
         b=20
        sum=a+b
- 6) **Interpreted & Compiler:-** Python is an interpreted language meaning that it does not require compilation.It is executed line by line at runtime, which allows for faster development cycles.
- 7) **Large Community and ecosystem:-** Python has a vibrant and supportive community of developer contributing to its extensive collection of libraries and frameworks.

### Que:- What is Memory Management in Python?
Ans:- Python Memory management is use te dynamic memory allocation which is managed by private heap data structure. All the Python object and data structure are located in a private heap space.The programmer does not have access to this private heap.
- The Python interpreter to takes python memory manager.
- The Python Memory Manager to manages the allocation and deallocation of heap space of the object through the API function.
- The core API gives access to some tools for the programmer to code.
- Python also have an inbuilt garbage collector which recycle all the unused memory and so that it can be made available the heap space.

#### Que:- What is PEP8?
Ans:- Python Enhancement proposal is a set of coding guidlines in Python programming language that programmers can use to write readable code which make it easy to use for other user.
- It is document provide guidlines to improve the readability of python code.
- The code can be written in a few minute ,few hours,or whole day but ones we have written the code we will never rewrite again but sometime we need to read the code again and again.
- At this point we must have idea of why we wrote particular line in the code.
- A PEP is a design document providing information to the Python community or describing a new feature for python or its processes or envirnment.

## Variables
Variables are used to store and manipulate data. They act as containers that hold values, which can be of different types such as numbers, strings, lists, or objects. Here's an explanation of variables in Python with examples:

**Variable Declaration and Assignment:**

To declare and assign a value to a variable in Python, you simply write the variable name followed by an equals sign (=) and the value you want to assign. Here's an example:

In [1]:
# Variable declaration and assignment
a = 85
b = 75
c = 25

In [2]:
# Let's Print the Values of these Variables

print(a)
print(b)
print(c)

85
75
25

**Variable Naming Rules:**

* A variable name can contain letters (a-z, A-Z), digits (0-9), and underscores (_). It must start with a letter or an underscore.
* The Variable name cannot start with a Number.
* A variable name can only contain alphanumeric characters and underscores.
* Variables names are case sensitive.
* It cannot be a reserved keyword in Python (e.g., if, for, while, etc.).
* Avoid using special characters or spaces in variable names.

In [3]:
#both of these variables will get accepted as both of them are following the rule.
data = 2
_data = 2

In [4]:
# 4data cannot be accepted as a variable, as the variable name starts with a number

4data = 9

SyntaxError: invalid decimal literal (<ipython-input-4-5c08426754ed>, line 3)

In [5]:
# Variable names can only contain alphanumeric characters and underscores

4% = 5

SyntaxError: invalid syntax (<ipython-input-5-30406c75c70b>, line 3)

In [6]:
# variable names are case sensitive, Here both data & DATA are different variable storing different values.

data = 5
DATA = 10

print(data)
print(DATA)

5
10

# Data Types and Type Casting

**Variable Types:**

Variables in Python can hold values of different types:
* Integer
* Float
* String

In [7]:
# Lets try to assign to assign some variables with different data types

x = 4
y = 'india'
z = 3.5

print(x)
print(y)
print(z)

4
india
3.5

In [8]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

# Type Casting

Type casting in Python refers to the process of converting the data type of a variable or value from one type to another. Python provides built-in functions that allow you to perform type casting. The commonly used type casting functions in Python include:

In [9]:
# Let's initialize a variable named x

x = 4
print(type(x))

<class 'int'>

In [10]:
#let's typecast the variable x into a string datatype

x = str(x)
print(type(x))

<class 'str'>

# Scope of Variables

## Local Variables

 * A local variable is a variable that is defined within the scope of a function or a block of code. Local variables are only accessible within the block or function where they are defined. They have a limited lifespan and exist only as long as the block or function is being executed.

In [11]:
def my_function():
    a = 10  # a is a local variable defined within the function
    print(a)

my_function()  # Output: 10

# Trying to access the local variable outside the function will result in an error
print(a)  # Raises NameError: name 'a' is not defined

10
85

### Global Variables

* Global Variables are Variables which are created Outside of the Function. But, They can accessed from anywhere.

In [12]:
# Example for Global Scope of Variables

x = 27.63

def function():
    print(x)

function()  # here, we are able to access variable from outside of the variable

27.63

In [13]:
x = 89564.23

def function():
    x = 78
    print(x)

function()  # here, we are able to access the local variable

78

### The Global Keyword

* Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

* To create a global variable inside a function, you can use the global keyword.

In [14]:
def function():
    global x
    x = "Awesome"
    print(x)

function()
print(x)

Awesome
Awesome

# Operators in Python

* In Python, operators are special symbols or characters that are used to perform operations on operands (variables, values, or expressions). They allow you to perform mathematical, logical, comparison, assignment, and other operations in your code.

**Types of Operator**

- **1) Arithmetic Operator**
- **2) Comparison Operator**
- **3) Assignment Operator**
- **4) Logical Operator**
- **5) Identity Operator**
- **6) Membership Operator**
- **7) Bitwise Operator**

# Arithematic Operators
Arithmetic operators are used in Python to perform basic mathematical calculations. They operate on numerical values and return a new value as a result.

- **1 Addition +**
- **2 Subtraction -**
- **3 Multiplication ***
- **4 Division /**
- **5 Modulus %**
- **6 Exponent ****
- **7 Floor Division //**

## 1. Addition Operator
Addition operator adds two values.
### x+y

In [15]:
# Adding two numbers

x = 5
y = 8

z = x + y

print(z)

13

In [16]:
# Adding two numbers

x = 100
y = 246

z = x + y

print(z)

346

## 2. Subtraction Operator

Subtraction Operator subtracts two values.

In [17]:
# Lets Subtract two Values

x = 200
y = 100

z = x - y

print(z)

100

In [18]:
# Let's take one more example

x = 100
y = 300

z = x - y

print(z)

-200

## 3. Multiplication Operator
Multiplication operator multiplies two values.
### x*y

In [19]:
# multiplies two values

x = 50
y = 30

z = x*y

print(z)

1500

In [20]:
# Multiplication Example

x = 387
y = 4

z = x*y

print(z)

1548

## 4. Dividend Operator
Dividend operator divides one operand by another.
### x/y

In [21]:
# let's take an example

x = 45
y = 3

z = x/y

print(z)

15.0

In [ ]:
# let's take one more example

x = 764
y = 56

z = x/y

print(z)

## 5. Modulus Operator

 The Modulus Operators Returns the Remainder of the division between two operands/Values.

 x%y

In [22]:
# Let's take an example to understand the Modulus Operator

x = 10
y = 3

z = x%y

print(z)

1

In [23]:
# Let's take one more example

x = 10
y = 4

z = x%y

print(z)

2

## 6. Exponent Operator
Exponent Operator raises the power of left operand to the right operand.
### x**y

In [24]:
# Let's take an example for Exponent Operator

x = 2
y = 3

z = x**y

print(z)

8

In [25]:
# Let's take one more example

x = 2
y = 4

z = x**y

print(z)

16

## 7. Floor Division Operator
Floor division operator returns quotient rounded off to the nearest integer.
### x//y

In [26]:
# Let's take an example for floor division operator

x = 13
y = 5

z = x//y

print(z)

2

In [27]:
## Arithmetic operator Operation

a=5+6-7*8/9%10
b=5+6-7/3+2
c=(2+3)/5%2+5%4+2
d=2//3+5**2*0.5%2/5+2-10
print(a)
print(b)
print(c)
print(d)

4.777777777777778
10.666666666666666
4.0
-7.9

In [29]:
x=20
x/=4   # 20/4=5.0
x+=5  # x+5 =5.5+5=10
x-=4  # 10-4=6
x%=3  # 6%3=0.0
x=34  # x=34
x**=2 # 34**2=1156
print(x)
x//=2 # 1156//2=578
print(x)

578

In [30]:
x=5 #
y=7
x+=y  # 5+7=11
y/=3  # 7/3=2.3333333333333335
x%=y  # 11%2.3333333333333335=10.666666666666666
y-=x  # 7-10.666666666666666=0.3333333333333334
x*=2  # 10.666666666666666*2=21.333333333333332
y%=x  # 0.3333333333333334%21.333333333333332=0.3333333333333334
print(x)
print(y)

0.6666666666666652
5.329070518200751e-15

# Assignment Operators
Assignment operators are used to assign a value to the variable.

\## 1. Equals to (=) Operator
Equals to (=) operator assigne the value of right hand operand to the left hand operand.

In [31]:
# Let's take an Example

x = 7
y = 3.65

print(x)
print(y)

7
3.65

## 2. Add Equal to (+=) Operator
Add equal to (+=) Operator adds right hand operand to the left hand operand and assign the result to the left hand operand.
###  x+=y       x=x+y

In [33]:
# Let's take an Example

x = 7
y = 4
x+=y

print(x, y)

11 4

In [34]:
# Let's take one more example

x = 10
x += 5

print(x)

15

## 3. Subtract Equal to (-=) Operator
Subtract equal to (-=) operator subtracts right hand operand from the left hand operand and assign the result to the left hand operand.
### x-=y  x=x-y

In [36]:
# Let's take an Example

x = 45
y = 12
x-=y  # x=45-12
x

33

## 4. Mutliply Equal to (*=) Operator
Multiply equal to (*=) operator multiplies right hand operand by left hand operand and assign the result to the left hand operand.
### x*=y x=x*y

In [38]:
# Let's take an Example

x = 23
y = 4
x*=y  # x=23*4
x

92

## 5. Divide Equal to (/=) Operator
Divide equal to (/=) operator divides left operand by right operand and assign the result to left hand operand.
### x/=y    x=x/y

In [39]:
# Let's take an Example

x = 35
y = 5

x/=y  # x=35/5
x

print(x)

7.0


# Comparison Operator
Comparison operators are used to compare one value to another. The result of a comparison is a Boolean value, which can be either True or False.

## 1. Equal to (==) Operator
Equal to (==) operator checks whether the value of the operands are equal. If yes it returns True.

In [40]:
# let's take an example

2==2

True

In [41]:
# let's take an example

x = 7
y = 6
x==y

False

## 2. Not Equal to (!=) Operator
Not equal to (!=) operator checks If the values of the two operands are not equal, then the condition becomes true.

In [42]:
# let's take an example

4!=7

True

In [43]:
# let's take an example

x = 8
y = 8
x!=y

False

 ## 3. Greater than (>) Operator
Greater than (>) operator checks If the value of the left operand is greater than the value of the right operand, then the condition becomes true.

In [44]:
# let's take an example

5>9

False

In [45]:
# let's take an example

x = 34
y = 12
x>y

True

## 4. Less than (<) Operator
Less than (<) operator checks If the value of the left operand is less than the value of the right operand, then the condition becomes true.

In [46]:
# let's take an example

6<10

True

In [47]:
# let's take an example

x = 87
y = 10

x<y

False

## 5. Greater than equal to (>=) Operator
Greater than equal to (>=) operator checks If the value of the left operand is greater than or equal to the value of the right operand, then the condition becomes true.

In [48]:
# let's take an example

4>=5

False

In [49]:
# let's take an example

x = 76
y = 36
x>=y

True

## 6. Less than equal to (<=) Operator
Less than equal to (<=) operator  checks If the value of the left operand is less than or equal to the value of the right operand, then the condition becomes true.

In [50]:
# let's take an example

12<=13

True

In [51]:
# let's take an example

x = 87
y = 76
x<=y

False

# Logical Operator
Logical operators are used to combine conditional statements.

## 1. AND Operator
And operator Returns True if both statements are true.

In [52]:
# let's take an example

x = 6
x < 10 and x > 1

True

## 2. OR Operator
OR operator Returns True if one of the statements is true.

In [53]:
# let's take an example

x = 8
x<10 or x>12

True

## 3. NOT Operator
NOT operator Reverse the logical state of the operand.**bold text**

In [54]:
# let's take an example

a = True
not a

False

In [55]:
print(10>30 and 20>10) or (10<20 and 20>10)

False

True

In [56]:
print(10<20 and 20>10) or (10<20 and 20>10)

True

True

In [58]:
print(10<20 and 20>10) or (10>20 and 20>10)

True

False

In [61]:
print(10>20 and 20>10) or (10>20 and 20<10)

False

False

In [62]:
print(not 20>10)

False

In [63]:
print(not 20<10)

True

# Membership Operator

 1. in Operator
in operator returns True if a sequence with the specified value is present in the object

In [ ]:
# Membership operators are used to test if a sequence is presented in an object
# 1. in Operator
# in operator checks if the value is present in the sequence.
# let's take an example
x = "Welcome to Simplilearn"
print("Simplilearn" in x)

# 2. not in Operator
# not in operator checks if the value is not present in the sequence.
# let's take an example
y = "Data Science with Python"
print("Machine Learning" not in y)

# Identity Operator

In [64]:
# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

# 1. is Operator
# is operator returns True if both variables are the same object
# let's take an example
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

# 2. is not Operator
# is not operator returns True if both variables are not the same object
# let's take an example
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
True
False
True
False

# Bitwise Operator

In [65]:
# Bitwise Operators
# Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

# 1. Bitwise AND (&)
# Sets each bit to 1 if both bits are 1
a = 10  # Binary: 1010
b = 4   # Binary: 0100
result_and = a & b  # Binary: 0000 (Decimal: 0)
print(result_and)

# 2. Bitwise OR (|)
# Sets each bit to 1 if one of two bits is 1
a = 10  # Binary: 1010
b = 4   # Binary: 0100
result_or = a | b  # Binary: 1110 (Decimal: 14)
print(result_or)

# 3. Bitwise XOR (^)
# Sets each bit to 1 if only one of two bits is 1
a = 10  # Binary: 1010
b = 4   # Binary: 0100
result_xor = a ^ b  # Binary: 1110 (Decimal: 14)
print(result_xor)

# 4. Bitwise NOT (~)
# Inverts all the bits
a = 10  # Binary: 1010
result_not = ~a  # Binary: -1011 (Decimal: -11)
print(result_not)

# 5. Left Shift (<<)
# Shifts the bits of the number to the left, and fills 0 on the right side
a = 10  # Binary: 1010
result_left_shift = a << 2  # Binary: 101000 (Decimal: 40)
print(result_left_shift)

# 6. Right Shift (>>)
# Shifts the bits of the number to the right, and fills 0 on the left side
a = 10  # Binary: 1010
result_right_shift = a >> 2  # Binary: 0010 (Decimal: 2)
print(result_right_shift)

0
14
14
-11
40
2