<a href="https://colab.research.google.com/github/VishalShende358/Library-managment-system/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data types in python

Python is a dynamically typed language, which means you don't need to declare the data type of a variable when you create it; Python will determine the data type dynamically at runtime. However, Python has several built-in data types that you can use to store and manipulate different kinds of data. Here are some of the most common data types in Python:

* ### Numeric  - Numeric variables take values which are numbers like 9, 3.14, 0, Inf


* ### String   - 'hello',"hello"


* ### Boolean  - True, False


* ### Datetime  - 2023-08-05 08:21:04

In [ ]:
a = 100
type(a)

int

In [ ]:
a = 100.0
type(a)

float

In [ ]:
a = True
type(a)

bool

In [ ]:
a = 'hello'
type(a)

str

In [ ]:
a = 'mohit'
b = 'singh'

In [ ]:
c = a+' '+b
print(c)

mohit singh

## Playing with strings

* We can also use a function called <code>len()</code> to check the length of a string!

In [ ]:
a = 'Playing with strings'
print(len(a))

20

In [ ]:
a = 'Playing with strings '
print(len(a))

21

### <u> String Indexing </u>

* We know strings are a sequence, which means Python can use indexes to call parts of the sequence.


* A string index refers to the location of an element present in a string.


* The indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.


* In Python, we use brackets <code>[]</code> after an object to call its index.

In [ ]:
a = 'String Indexing'
print(a[0])
print(a[3])

S
i

In [ ]:
print(a[-1])

g

### String Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
a = 'String Slicing'

print(a[1:6])

tring

In [ ]:
print(a[1:7])

tring

In [ ]:
print(a[-7:-1])

Slicin

In [ ]:
print(a[1:7:2])

tig

In [ ]:
print(a[::-1])

gnicilS gnirtS

###  <code>lower()</code>

* <code>lower()</code> method converts the string to lowercase

In [ ]:
a = 'ABHISHEK'

print(a.lower())

abhishek

In [ ]:
a = 1
b = 2

a+b

3

In [ ]:
a = 'AZbc12'
a.lower()

'azbc12'

###  <code>upper()</code>

* <code>upper()</code> method converts the string to uppercase

In [ ]:
a = 'AZbc12'
a.upper()

'AZBC12'

### <code>count()</code>

*  <code>count()</code> method returns the count of a string in the given string. Unlike <code>lower()</code> and <code>upper()</code> method, the <code>count()</code> method takes a string as an argument

In [ ]:
a = 'abcda'

print(a.count('a'))

2

In [ ]:
print(a.count('d'))

1

### <code>find()</code>

* <code>find()</code> method returns the index of the first occurrence of a string present in a given string. Similar to the <code>count()</code> method, the <code>find()</code> method takes a string as an argument

In [ ]:
a = 'abcde'

print(a.find('a'))

0

In [ ]:
print(a.find('c'))

2

### <code>replace()</code>

*  <code>replace()</code> method takes two arguments - (i) the string to replace and (ii) the string to replace with, and returns a modified string after the operation

In [ ]:
a = 'abcde'

print(a.replace('a', 'z'))

zbcde

In [ ]:
a = 'abcde'

print(a.replace('ab', 'z'))

zcde

### Printing strings a bit differently

In [ ]:
a = 'rahul'
b = 'mohan'


print(f'{a} and {b} are best friends')

rahul and mohan are best friends

In [ ]:
a = 'my name is {name1}'.format(name1='mohit')
print(a)

my name is mohit

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

![image.png]()

In [ ]:
a = [1,2,3,4,1.0,2.0,'ab']
type(a)

list

In [ ]:
print(a[-1])

ab

In [ ]:
print(a[-1][-1])

b

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
a

[1, 2, 3, 4, 1.0, 2.0, 'ab']

In [ ]:
a = 100
b = 200
a,b = b,a
print(a)

200

In [ ]:
print(b)

100

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
a = [1, 2, 3, 4, 1.0, 2.0, 'ab']

print(a[1:4])

[2, 3, 4]

In [ ]:

print(a[1:4:2])

[2, 4]

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [ ]:
a = [1,2,3]

a+[4]

[1, 2, 3, 4]

In [ ]:
a

[1, 2, 3]

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
a = [1,2,3,4,5,6,0]

min(a)

0

In [ ]:
max(a)

6

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
sum(a)

21

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
a = [1,2,3,0]

sorted(a)

[0, 1, 2, 3]

In [ ]:
a.reverse()

In [ ]:
a

[0, 3, 2, 1]

In [ ]:
sorted(a,reverse = True)

[3, 2, 1, 0]

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
a.append(4)
print(a)

[1, 2, 3, 4, 4]

In [ ]:
a.append(5)
print(a)

[1, 2, 3, 4, 4, 5]

In [ ]:
a = [1,2,3]

a+[4]

[1, 2, 3, 4]

In [ ]:
print(a)

[1, 2, 3]

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
a

[1, 2, 3]

In [ ]:
a.append([4,5,6])
a

[1, 2, 3, [4, 5, 6]]

In [ ]:
a.extend([4,5,6])
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [ ]:
a.pop(-1)
a

[1, 2, 3, [4, 5, 6], 4, 5]

In [ ]:
a.pop(0)
a

[2, [4, 5, 6], 4, 5]

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
a

[1, 2, 3, [4, 5, 6], 4, 5]

In [ ]:
a.remove(3)
a

[1, 2, [4, 5, 6], 4, 5]

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
a.index(3)

2

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
a = [1,2,'a','b']
a.reverse()
a

['b', 'a', 2, 1]

In [ ]:
a= [1,9,2,3]
sorted(a,reverse = True)

[9, 3, 2, 1]

# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.


* You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the <u>major distinction being that tuples are immutable</u>.


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [ ]:
a = [1,2,3,4,5]

a[0] = 100
a

[100, 2, 3, 4, 5]

In [ ]:
a = (1,2,3,4,5)

a[0] = 100
a

TypeError: 'tuple' object does not support item assignment

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

list(zip(city_list,river_list))

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
a = {1,2,3,1,4,1,1,2,3}
print(a)

{1, 2, 3, 4}

In [ ]:
a.add(6)
a

{1, 2, 3, 4, 6}

In [ ]:
a.add(6)
a

{1, 2, 3, 4, 6}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set.


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [ ]:
a.remove(6)
a

{1, 2, 3, 4}

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
a&b

{4, 5}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
a^b

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.


* If you're familiar with other languages you can think of these Dictionaries as hash tables.


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
a = {'name':'vishal','age':22}

print(a)

{'name': 'vishal', 'age': 22}

In [ ]:
print(a['name'])

vishal

In [ ]:
print(a['age'])

22

In [ ]:
a.keys()

dict_keys(['name', 'age'])

In [ ]:
a.values()

dict_values(['vishal', 22])

In [ ]:
a.items()

dict_items([('name', 'vishal'), ('age', 22)])

In [ ]:
a['name'] = 'rohit'
a

{'name': 'rohit', 'age': 22, 'vishal': 'rohit'}

In [ ]:
a['salary'] = '30k'
a

{'name': 'rohit', 'age': 22, 'vishal': 'rohit', 'salary': '30k'}

In [ ]:
a.update({'friend':'mohit'})
a

{'name': 'rohit',
 'age': 22,
 'vishal': 'rohit',
 'salary': '30k',
 'friend': 'mohit'}

In [ ]:
a.pop('vishal')
a

{'name': 'rohit', 'age': 22, 'salary': '30k', 'friend': 'mohit'}

In [ ]:
a.pop('friend')
a

{'name': 'rohit', 'age': 22, 'salary': '30k'}

In [ ]:
a = 'ram'

if a == 'mohan':
  print('hello')

else:
  print('byee')

byee

In [ ]:
a = [1,2,3,4,5,6]

for i in a:
  print('value of i ',i)

value of i  1
value of i  2
value of i  3
value of i  4
value of i  5
value of i  6

In [ ]:
a = [1,2,3,4,5,6]
for i in a:
  print(i**3)

1
8
27
64
125
216

In [ ]:
a = [1,2,3,4,5,6]
for i in a:
  if i%2 == 0:
    print(i**2)

4
16
36

In [ ]:
a = [1,2,3,4,5,6]
for i in a:
  if i%2 == 0:
    print(i**2)
  else:
    print(i**3)

1
4
27
16
125
36